span.hl.kwa, span.hl.opt {
    color: #a8a4a4;
}

span.hl.kwb {
    color: #23edda;
}

span.hl.kwc {
    color: #172340;
}

span.hl.kwd {
    color: #81A2BE;
}

span.hl.slc {
    color: #171717;
}

span.hl.str {
    color: #8C9440;
}
