<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fast travel from signposts to their locations if you have already been there before.">
    <meta name="author" content="Signpost Fast Travel Authors">
    <meta property="og:site_name" content="Signpost Fast Travel" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://modding-openmw.gitlab.io/signpost-fast-travel/">
    <meta property="og:title" content="Signpost Fast Travel">
    <meta property="og:description" content="Fast travel from signposts to their locations if you have already been there before.">
    <meta property="og:image" content="https://modding-openmw.gitlab.io/signpost-fast-travel/img/signpost-fast-travel.gif">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/sakura.css">
    <link rel="stylesheet" type="text/css" media="(prefers-color-scheme: dark)" href="/css/sakura-dark.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="stylesheet" type="text/css" media="(prefers-color-scheme: dark)" href="/css/site-dark.css">
  </head>
  <body>
    <h1 class="center"><img src="/img/title.png" title="Signpost Fast Travel" /></h1>
    <noscript>
      <p class="bold center">
        Please enable Javascript for this page, Gitlab itself also requires Javascript in order to even look at packages. Sorry :(
      </p>
    </noscript>
    <p class="center">Latest version: <span class="bold" id="latestVersion">...</span></p>
    <div id="links" class="bold center">
      <a class="button" id="download" title="Download the latest release of Signpost Fast Travel">Download</a>
    </div>
    <div id="shas" class="bold center">
      <a id="sha256" title="Verify the integrity of the file you downloaded">sha256</a>/<a id="sha512" title="Verify the integrity of the file you downloaded">sha512</a>
    </div>
    <div class="bold center" id="errors"></div>
    <div class="center" id="dev-build">
      <a id="download" href="https://gitlab.com/api/v4/projects/modding-openmw%2Fsignpost-fast-travel/jobs/artifacts/master/raw/signpost-fast-travel.zip?job=make" title="Dev builds may have newer features, but they will be less tested">Dev Build</a> (<a id="sha256" href="https://gitlab.com/api/v4/projects/modding-openmw%2Fsignpost-fast-travel/jobs/artifacts/master/raw/signpost-fast-travel.zip.sha256sum.txt?job=make" title="Verify the integrity of the file you downloaded">sha256</a>/<a id="sha512" href="https://gitlab.com/api/v4/projects/modding-openmw%2Fsignpost-fast-travel/jobs/artifacts/master/raw/signpost-fast-travel.zip.sha512sum.txt?job=make" title="Verify the integrity of the file you downloaded">sha512</a>)
    </div>
    <nav class="center" id="nav">
      <a href="/">Home</a> | <a href="/changelog/">Changelog</a>
    </nav>
    <div class="center" id="gitlab-links" title="These are external links that will take you to GitLab.">
      <a href="https://gitlab.com/modding-openmw/signpost-fast-travel/activity">Activity</a> | <a href="https://gitlab.com/modding-openmw/signpost-fast-travel/-/issues">Report A Bug</a> | <a href="https://modding-openmw.gitlab.io/update-center/">Update Center</a>
    </div>
    <div id="content"></div>
    <footer style="text-align: center;">
      <a href="https://stats.gitlab.modding-openmw.com/"><img src="/img/goat_counter.png" title="Stats by GoatCounter."></a>
      <a href="https://soupault.app/"><img src="/img/powered_by_soupault_88x31.png" title="This website is built using soupault"></a>
    </footer>
    <div id="modOrg" data-mod-org="modding-openmw"></div>
    <div id="modProject" data-mod-project="signpost-fast-travel"></div>
    <script src="/js/gitlab.js"></script>
  </body>
</html>
